         37.201s snapd.refresh.service
         16.912s dev-sda6.device
         12.097s systemd-tmpfiles-setup-dev.service
         11.262s systemd-sysctl.service
          8.067s NetworkManager-wait-online.service
          5.643s grub-common.service
          5.542s snapd.service
          5.468s irqbalance.service
          5.463s apport.service
          5.384s ondemand.service
          5.383s speech-dispatcher.service
          5.006s fwupd.service
          4.995s mnt-sda4.mount
          3.405s lightdm.service
          2.893s keyboard-setup.service
          2.840s NetworkManager.service
          2.621s thermald.service
          2.443s dev-loop8.device
          2.129s ModemManager.service
          2.015s accounts-daemon.service
          1.740s systemd-tmpfiles-setup.service
          1.386s apparmor.service
          1.325s systemd-journald.service
          1.249s systemd-modules-load.service
          1.211s gpu-manager.service
          1.102s apache2.service
          1.067s colord.service
          1.025s plymouth-start.service
           991ms sys-kernel-debug.mount
           989ms dev-mqueue.mount
           988ms dev-hugepages.mount
           903ms alsa-restore.service
           899ms systemd-user-sessions.service
           896ms pppd-dns.service
           893ms avahi-daemon.service
           886ms systemd-logind.service
           868ms rsyslog.service
           801ms dev-loop6.device
           785ms polkitd.service
           744ms upower.service
           552ms console-setup.service
           491ms ufw.service
           402ms qemu-kvm.service
           347ms kmod-static-nodes.service
           322ms dev-disk-by\x2duuid-b31fbafb\x2d8f8d\x2d4b27\x2d9e33\x2d7ba374fcd1fc.swap
           292ms apt-daily.service
           272ms systemd-update-utmp.service
           242ms systemd-journal-flush.service
           184ms setvtrgb.service
           162ms udisks2.service
           155ms plymouth-read-write.service
           153ms wpa_supplicant.service
           108ms systemd-udev-trigger.service
            98ms snap-core-4650.mount
            76ms preload.service
            69ms networking.service
            51ms systemd-udevd.service
            50ms snap-vlc-131.mount
            50ms systemd-tmpfiles-clean.service
            49ms systemd-remount-fs.service
            48ms snap-chromium-283.mount
            47ms snap-vlc-158.mount
            46ms snap-chromium-274.mount
            45ms snap-chromium-277.mount
            44ms systemd-random-seed.service
            40ms snap-vlc-190.mount
            39ms snap-core-4571.mount
            35ms user@1000.service
            24ms snap-core-4486.mount
            24ms dev-loop5.device
            22ms dev-loop3.device
            21ms dev-loop2.device
            21ms dns-clean.service
            21ms dev-loop7.device
            19ms dev-loop1.device
            18ms dev-loop4.device
             8ms systemd-timesyncd.service
             5ms resolvconf.service
             5ms sys-kernel-config.mount
             4ms rtkit-daemon.service
             4ms ureadahead-stop.service
             3ms systemd-update-utmp-runlevel.service
             3ms systemd-backlight@backlight:intel_backlight.service
             2ms snapd.socket
             2ms dev-loop0.device
             2ms sys-fs-fuse-connections.mount
             2ms rc-local.service
             2ms plymouth-quit-wait.service
